## CSV Agent LangChain

### Importing langChan csv agent

In [7]:
from langchain.agents import create_csv_agent

#### LLMs Calling OpenAI API

In [8]:
from langchain.llms import OpenAI

#### First import OpenAI API key

In [10]:
import os
os.environ["OPENAI_API_KEY"] = "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"

### Testing CSV Agent

In [12]:
agent = create_csv_agent(OpenAI(temperature=0), 'common_experience_sorted.csv', verbose=True)

In [13]:
# check number of rows
agent.run("how many rows are there?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of rows
Action: python_repl_ast
Action Input: len(df)
Observation: 28433
Thought: I now know the final answer
Final Answer: There are 28433 rows in the dataframe.

> Finished chain.

'There are 28433 rows in the dataframe.'

In [14]:
# So agent said there are 28433 rows 
# lets confirm this by pandas

In [16]:
import pandas as pd
df = pd.read_csv("common_experience_sorted.csv")

In [18]:
df.shape

(28433, 7)

In [19]:
# So agent found the correct result.

In [21]:
# Lets understand the data first and ask more questions from agent.
df.head()

,GroupPersonsID,Name,Designation,Common Institute,person_id,FullName,Email
0,263091,Tom Heiser,Chairman Of The Board,{'AHEAD'},1050492,Matt Balazovic,matt_balazovic@dell.com
1,418744,Andrew Szafran,Chief Financial Officer,{'AHEAD'},1050492,Matt Balazovic,matt_balazovic@dell.com
2,418763,Ciara Murray,Marketing Operations Manager,{'CDW'},1517412,Katie Touhey,katie_touhey@dell.com
3,418763,Ciara Murray,Marketing Operations Manager,{'AHEAD'},1050492,Matt Balazovic,matt_balazovic@dell.com
4,418860,Roger Nienaber,Client Director,{'EMC'},962175,Brandon Moss,B_Moss@Dell.com

In [22]:
# We can see there are different designations, so lets see how many unique designations are there
agent.run("how many unique Designation are there?")

> Entering new AgentExecutor chain...
Thought: I need to find out how many unique Designation there are
Action: python_repl_ast
Action Input: len(df['Designation'].unique())
Observation: 133
Thought: I now know the final answer
Final Answer: There are 133 unique Designation.

> Finished chain.

'There are 133 unique Designation.'

In [27]:
# lets see in the df.
unique_designations = df['Designation'].unique()
len(unique_designations)

133

In [28]:
## We can see that agent and pandas showed same results.
## So using csv agent we can use simple english language to answer questions

In [29]:
## Lets find most frequent Designation using agent
agent.run("what is the most frequent Designation")

> Entering new AgentExecutor chain...
Thought: I need to find the most frequent Designation
Action: python_repl_ast
Action Input: df['Designation'].mode()
Observation: 0    Client Director
Name: Designation, dtype: object
Thought: I now know the most frequent Designation
Final Answer: Client Director

> Finished chain.

'Client Director'

In [33]:
df["Designation"].mode()

0    Client Director
Name: Designation, dtype: object

In [34]:
# 
agent.run("what is the ratio of male names and female names?")

> Entering new AgentExecutor chain...
Thought: I need to count the number of male and female names
Action: python_repl_ast
Action Input: df['Name'].value_counts()
Observation: Maurice Nowell           1155
David McCarthy           1021
Ray Nair                 1016
Marc J. Wagner            889
Vernon Fletcher           847
                         ...
Sam Mock                    1
Andrew Szafran              1
Tim Hollingsworth           1
Michelle Kahan, RMCP®       1
Scott Legge                 1
Name: Name, Length: 242, dtype: int64
Thought: I need to separate the male and female names
Action: python_repl_ast
Action Input: df[df['Name'].str.contains('[A-Z]')]['Name'].value_counts()
Observation: Maurice Nowell           1155
David McCarthy           1021
Ray Nair                 1016
Marc J. Wagner            889
Vernon Fletcher           847
                         ...
Sam Mock                    1
Andrew Szafran              1
Tim Hollingsworth           1
Michelle Kahan, RMCP®       1
Scott Legge                 1
Name: Name, Length: 242, dtype: int64
Thought: I need to separate the male and female names
Action: python_repl_ast
Action Input: df[df['Name'].str.contains('[a-z]')]['Name'].value_counts()
Observation: Maurice Nowell           1155
David McCarthy           1021
Ray Nair                 1016
Marc J. Wagner            889
Vernon Fletcher           847
                         ...
Sam Mock                    1
Andrew Szafran              1
Tim Hollingsworth           1
Michelle Kahan, RMCP®       1
Scott Legge                 1
Name: Name, Length: 242, dtype: int64
Thought: I now know the ratio of male and female names
Final Answer: The ratio of male names to female names is 242:242.

> Finished chain.

'The ratio of male names to female names is 242:242.'

In [35]:
agent.run("Tell number of unique Common Institute")

> Entering new AgentExecutor chain...
Thought: I need to find the unique values in the Common Institute column
Action: python_repl_ast
Action Input: df['Common Institute'].unique()
Observation: ["{'AHEAD'}" "{'CDW'}" "{'EMC'}" "{'IBM Global Services'}" "{'Dell EMC'}"
 "{'Zscaler'}" "{'Dell EMC', 'AHEAD'}" "{'Dell'}" "{'UBS'}"
 "{'Tata Consultancy Services'}" "{'Wipro Limited'}"
 "{'Dell EMC', 'Dell Technologies'}" "{'Dell Technologies'}"
 "{'Dell Technologies', 'NetApp'}" "{'Dell EMC', 'Sun Microsystems'}"
 "{'Dell Technologies', 'Sun Microsystems'}"
 "{'Dell EMC', 'Dell Technologies', 'Sun Microsystems'}"
 "{'Sun Microsystems'}" "{'NetApp'}"
 "{'Dell EMC', 'Dell Technologies', 'AHEAD'}"
 "{'Dell Technologies', 'StorageTek'}" "{'Dell Technologies', 'Google'}"
 "{'Dell EMC', 'Dell Technologies', 'NetApp'}"
 "{'Dell EMC', 'StorageTek'}"
 "{'Dell EMC', 'Dell Technologies', 'StorageTek'}" "{'Merrill Lynch'}"
 "{'Secureworks'}" "{'EMC', 'vCORE Technology Partners'}" "{'EqualLogic'}"
 "{'Teradata'}" "{'VMware'}" "{'SAIC'}" "{'BEA Systems'}" "{'Oracle'}"
 "{'EMC Corporation'}" "{'IBM'}" "{'Deloitte'}" "{'Deloitte', 'IBM'}"
 "{'Swedish Medical Center'}" "{'Cisco'}"
 "{'VCE, the Virtual Computing Environment Company'}"
 "{'Link Solutions Group, LLC', 'AHEAD'}" "{'IBM', 'EMC'}"
 "{'Ernst & Young'}" "{'McKesson'}" "{'Dell EMC', 'EMC'}"
 "{'Northwestern Mutual'}" "{'Citigroup'}" "{'Accenture'}"
 "{'Consolidated Communications'}" "{'Dell Technologies', 'Accenture'}"
 "{'Dell Technologies', 'AHEAD'}" "{'Experian'}" "{'Veeam Software'}"
 "{'AT&T'}" "{'Dell EMC', 'AT&T'}" "{'CA Technologies'}"
 "{'Morgan Stanley'}" "{'Texas Instruments'}" "{'Deltacom'}"
 "{'Dimension Data'}" "{'Oracle Corporation'}" "{'Agilysys'}"
 "{'Rolta AdvizeX'}" "{'SunGard Availability Services'}"
 "{'Alcatel-Lucent'}" "{'Brocade'}"
 "{'Dell EMC', 'Robert Half Technology'}" "{'Symantec'}"
 "{'EMC', 'Symantec'}" "{'Dell EMC', 'Oracle'}"
 "{'Dell EMC', 'Compuware', 'AHEAD'}" "{'EMC Isilon'}"
 "{'Dell EMC', 'NetApp'}" "{'Dell, Inc'}" "{'Secure-24'}" "{'US Army'}"
 "{'Comdisco'}" "{'Dell EMC', 'Link Solutions Group, LLC', 'AHEAD'}"
 "{'KPMG'}" "{'Coraid'}" "{'Corporate Express'}"
 "{'EMC', 'RoundTower Technologies, Inc.'}" "{'Trace3'}"
 "{'VERITAS Software'}" "{'Oracle', 'EMC'}" "{'Dell EMC', 'VCE', 'EMC'}"
 "{'VCE', 'EMC'}" "{'Dell EMC', 'VCE'}" "{'Dell EMC', 'US Army'}"
 "{'VCE'}" "{'ADP'}" "{'RoundTower Technologies, Inc.'}" "{'Dell, Inc.'}"
 "{'NetApp', 'IBM'}" "{'PricewaterhouseCoopers'}"
 "{'vCORE Technology Partners'}" "{'AdvizeX Technologies'}"
 "{'United States Air Force'}" "{'IBM', 'Cisco'}"
 "{'Hitachi Data Systems'}" "{'EMC Corporation', 'EMC'}" "{'KPMG US'}"
 "{'Quantum'}" "{'Google'}" "{'Dell EMC', 'Xerox'}" "{'Atos'}" "{'Xerox'}"
 "{'SARCOM'}" "{'Vector Marketing'}" "{'Dell Inc.'}"
 "{'Compuware', 'AHEAD'}" "{'Computer Associates'}" "{'Nortel Networks'}"
 "{'Symantec Corporation'}" "{'Dell Technologies', 'Tommy Hilfiger'}"
 "{'Sterling', 'Dell Technologies'}" "{'University of Phoenix'}"
 "{'Trend Micro'}" "{'Dell Technologies', 'VMware'}"
 "{'Dell Technologies', 'HP'}" "{'HP'}" "{'Qualtrics'}"
 "{'Norwin Technologies'}" "{'GlassHouse Technologies', 'RapidApp'}"
 "{'EY'}" "{'CompuCom'}" "{'Dell EMC', 'Fidelity Investments'}"
 "{'JPMorgan Chase'}" "{'Dell EMC', 'JPMorgan Chase'}"
 "{'Integra Telecom'}" "{'Cisco Systems'}" "{'EMC', 'Cisco Systems'}"
 "{'Credit Suisse'}" "{'Arthur Andersen'}" "{'Dell EMC', 'Cisco Systems'}"
 "{'ConvergeOne'}" "{'Aetna'}" "{'Hewlett-Packard'}"
 "{'Electronic Data Systems', 'Hewlett-Packard'}"
 "{'Electronic Data Systems'}" "{'Dell EMC', 'vCORE Technology Partners'}"
 "{'Dell', 'EMC'}" "{'Tech Data'}" "{'Dell EMC', 'Citi'}"
 "{'Sprint Paranet'}" "{'United States Marine Corps'}" "{'MTI'}"
 "{'NTT Ltd.'}" "{'Wells Fargo'}" "{'Chick-fil-A-Franchise'}"
 "{'Affiliated Computer Services'}" "{'Riverbed Technology'}"
 "{'Cisco', 'Cisco Systems'}" "{'Rochester Institute of Technology'}"
 "{'Insight'}" "{'Dell EMC', 'Dell'}" "{'Sungard Availability Services'}"
 "{'Bell Microproducts'}" "{'Citi'}" "{'Dell EMC', 'Vaco'}"
 "{'Dell Technologies', 'EMC'}" "{'Hewlett Packard Enterprise'}"
 "{'Hewlett Packard Enterprise', 'Dell Technologies'}"
 "{'Hewlett Packard Enterprise', 'Dell Technologies', 'Oracle'}"
 "{'Oracle', 'Dell Technologies'}"
 "{'Oracle', 'Dell Technologies', 'EMC'}"
 "{'Dell Technologies', 'EMC', 'Sun Microsystems'}"
 "{'EMC', 'Sun Microsystems'}"
 "{'Oracle', 'Dell Technologies', 'Sun Microsystems'}" "{'StorageTek'}"
 "{'Independent'}" "{'Allstate Insurance Company'}" "{'Allstate'}"
 "{'Pfizer'}" "{'Unisys'}" "{'Dell EMC', 'Accenture'}"
 "{'MTM Technologies'}" "{'Avnet Technology Solutions'}"
 "{'Compaq Computer Corporation'}" "{'EMC', 'Hewlett-Packard'}"
 "{'Ingram Micro'}"]
Thought: I now know the final answer
Final Answer: There are 57 unique Common Institute values.

> Finished chain.

'There are 57 unique Common Institute values.'